body {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

h1, p {
    margin-bottom: 0px;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 14px;
}
.container {
    display: flex;
    width: 400px;
    height: 400px;
    border: solid 1px rgb(121, 237, 206);
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
}

.column {
    background-color: rgb(47, 46, 46);
    border: solid 1px rgb(121, 237, 206);
    flex: 1;
}

button {
    margin: 10px;
    font-size: 10px;
}